
	<link rel="stylesheet" href="assets/css/style.css">

    <style>
       body {
      background-image: linear-gradient(to bottom, blue , blueviolet);
    }
   
        </style>
  

 <app-header></app-header>
    <div style="margin: 20px;">
          
            <div  class="row" >
        
                    
                    <div class="card">
      
         
      
                            <div class="card-body  white-text">
                            
           
        
                           
                              <p class="white-text">
                                <h1> Developer : </h1>
                                <font size="10"> Harsh Moradiya</font>
                           
                                    </div>
                        
                        
                          </div>
                          <div class="card">
      
         
      
                                <div class="card-body elegant-color white-text">
                                
               
            
                               
                                  <p class="white-text">
                                      <h1>
                                      Contact me : Email
                                    </h1>
                                      <font size="10">harsh1868@gmail.com</font>
                               
                                        </div>
                            
                            
                              </div>
                          </div>
            
                    </div>
      <div style="margin: 20px;">
          
          <div  class="row" >
      
  
          <!-- <div class="col-sm-2"> -->
        
        <!-- <div class="card">
      
         
      
          <div class="card-body elegant-color white-text">
            <p class="card-text white-text">Create Account</p>
            <a routerLink="/map"><button class="btn" style="border-radius: 15px" >Create</button></a>
          </div>
      
        </div> -->
        
      <!-- </div> -->
      
      <div class="col-sm-1"></div>
      
          <div class="col-sm-4">
      
                  <div class="card">
      
         
      
                          <div class="card-body elegant-color white-text">
                            <p class="card-text white-text">For any help ragarding of ride booking contact  our team:</p>
                             <p class="card-text white-text"> Mobile No:+91 7016529237</p>
                             <p class="card-text white-text"> Email :harshcerti@gmail.com</p>
                             

                          </div>
                      
                        </div>
                        
                      </div>
      
      
  
      
        
      
                  <div class="col-sm-2">
                  </div>
                    
                  
                  
                      
                  <div class="col-sm-1"></div>
                  </div>
                  </div>
                  
                 
  
      
      
      
      
            
      
              
        
      
  
  
      